# Ignore Matlab autosaved files
*.asv

# Ignore Windows desktop.ini
*desktop.ini

# Ignore IDE-related files
.idea

# Ignore codegen directory and files
codegen
*.mexw64

# Ignore temporarily created files made for testing purposes
temp*